footer {
  background-color: #323232;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div p {
    color: white !important;
    a i {
      color: orange;
    }
    a i.fa-react {
      animation: spin 5s infinite;
      font-size: 1.2rem;
    }
    span {
      color: orange;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1500deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(600deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
