footer {
  background-color: #323232;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div p {
    color: white !important;
    a i {
      color: orange;
    }
    span {
      color: orange;
    }
  }
}
