header {
  padding: 0 10rem;
  width: 100%;
  min-height: 5rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .logo-container {
    width: 12rem;
    display: flex;
    align-items: center;
    .logo-image-container {
      width: 4rem;
      min-width: 3rem;
      min-height: 3rem;
      height: 4rem;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    .logo-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        padding-top: 5px;
        font-weight: 600;
      }
    }
  }
  div.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-bar {
      height: 40px;
      display: flex;
      align-items: center;
      div.nav-list {
        height: 100%;
        display: flex;
        align-items: baseline;
        align-items: center;
        transition: all 0.5s ease;
        margin-right: 20px;

        p {
          height: 100%;
          margin-left: 2rem;
          display: flex;
          align-items: center;
          padding: 5px;
          text-align: right;
          list-style: none;
        }
        p.resume {
          border-radius: 4px;
          animation: background-change 5s infinite;
          a {
            animation: color-change 5s infinite;
          }
        }
      }
      div.nav-false {
        transition: all 0.5s ease;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        left: -1000%;
      }
      div.nav-true {
        opacity: 1;
        align-items: center;
      }

      .toggle-menu {
        border-radius: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        background: transparent;
        cursor: pointer;
        &:hover {
          background-color: orange;
          .icon-container i {
            color: white !important;
            transition: color 0.5s ease;
          }
        }
      }
      .icon-container {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        background: transparent;
        i {
          transition: color 1s ease;
        }
        svg {
          background: transparent;
        }
      }
    }
  }
}

@keyframes background-change {
  0% {
    background-color: white;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: white;
  }
}

@keyframes color-change {
  0% {
    color: #474747;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: #474747;
  }
}

@media screen and(max-width:768px) {
  header {
    padding: 1rem;
  }
}
